.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 5px 5px 10px;
  background: aqua;
}

.form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  width: 90%;
}

button {
  margin: 10px 0;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
} 

.one-friend {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 15px auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.friendslist-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 5px 5px 10px;
  background: tan;
}

.egg-image {
  width: 220px;
  height: 220px;
  margin: 3x 5px;
}

.friend-card {
}